{% extends 'base.html' %}

{% block content %}

    <h1>Договор Безотзывной</h1>
    {% include "form.html" with button_label='Confirm'%}


    <button onclick="window.location.href='/'">To main page</button>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

             let item = document.getElementsByTagName('input').namedItem('total_amount');
                item.addEventListener('input', ()=>{
                    if(item.value.match(/[^0-9]/g)){
                    item.value = item.value.replace(/[^0-9]/g, "");
                }
                })
        })
    </script>

{% endblock %}